.boxA {
  width: 350px;
}

.box1 {
  float: left;
  height: 100px;
  width: 150px;
  background-color: #FFFF66;
}

.box2 {
  float: left;
  height: 100px;
  width: 200px;
  background-color: #666666;
}

.box3 {
  float: left;
  height: 150px;
  width: 150px;
  background-color: #FF3333;
}

.box4 {
  float: left;
  height: 150px;
  width: 100px;
  background-color: #3366FF;
}

.box5 {
  float: left;
  height: 150px;
  width: 100px;
  background-color: #669933;
}

.box6 {
  float: left;
  height: 100px;
  width: 150px;
  background-color: #FF9966;
}

.box7 {
  float: left;
  height: 100px;
  width: 100px;
  background-color: #FFFFCC;
}

.box8 {
  float: left;
  height: 100px;
  width: 100px;
  background-color: #330066;
}

