@media screen and (max-width:479px ) {
	.wrapper {
			width:200px;
			float:none;
	}

	.header {
			width:200px;
	}

	.boxA {
			margin-right:70px;   
	}

	.boxB {
			margin-right:70px;
			padding-top:80px;
	}

	.boxC {
			margin-right:70px;
			padding-top:120px;
	}

	.left {
			width:200px;
	}

	.right {
			width:200px;
	}
}